body{
  background-image: url("webbackground.jpg");
}

img{
  max-width: 100%;
}

h1{
  font: 90px helvetica;
  font-style: oblique;
  text-align: center;
  color: white;
  background: rgb(250, 100, 0);
  margin: 60px 200px;
  border-radius: 30px;
  border: 5px solid;
  padding: 20px;
}

ul{
  font: 40px helvetica;
  text-align: center;
  color: white;
}
